@import "ui.scss";

//====================================================================================================================================================================================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 11;
	// .header__container

	&__container {}

	// .header__body

	&__body {
		//position: relative;

	}

	// .header__menu

	&__menu {}

	// .header__other

	&__other {
		display: grid;
		grid-auto-flow: column;

		@media (max-width: $md3) {
			display: none;
		}
	}
}


.header-nav-menu {
	background-color: #290C4F;
	width: 100%;

	&__body {
		@media (min-width: $md3) {
			display: grid;
			justify-content: space-between;
			grid-auto-flow: column;
		}



		padding: 12px 0px;
		align-items: center;

	}
}

.header-nav-menu__images-links {
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
	justify-content: start;
}

.menu-header {

	// .menu-header__body

	&__body {}

	// .menu-header__list

	&__list {
		display: grid;
		grid-auto-flow: column;

		@media (min-width: $md3) {
			gap: 40px;
		}

		@media (max-width: $md3) {
			grid-auto-flow: row;
			margin: 0px 0px 100% 0px;

			li {
				border-bottom: 1px solid #F1F1F1;
				padding: 20px 0px 20px 0px;


				//margin: 0px 0px 40px 0px;


			}
		}

		@media (max-width: 320px) {
			display: grid;
			grid-template-areas:
				"About"
				"Dostavka"
				"Contacts"
			;

			li {
				&:nth-child(1) {
					grid-area: Dostavka;
				}

				&:nth-child(2) {
					grid-area: Contacts;
				}

				&:nth-child(3) {
					grid-area: About;
				}
			}
		}
	}

	// .menu-header__link

	&__link {
		font-weight: 500;
		font-size: 13px;
		line-height: 123%;
		color: #FFFFFF;
		transition: all 0.8s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #E026EE;
				transition: all 0.3s ease 0s;
			}
		}

		@media (max-width: $md3) {
			color: #000;

		}
	}

	// .menu-header__sub-list

	&__sub-list {
		li {
			border: none;
		}
	}
}

.drop-menu-link {
	position: relative;

	@media(any-hover: hover) {
		&:hover~.drop-menu {
			display: grid;

		}
	}

	&.active {


		color: #E026EE;



		&:before {
			content: '';
			transform: rotate(45deg);
		}

		&:after {
			content: '';
			transform: rotate(-45deg);
		}
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 8px;
		background-color: #fff;
		transition: all 0.3s ease 0s;

		@media (max-width: $md3) {
			background-color: #000;
		}
	}

	&:before {
		content: '';
		width: 9px;
		height: 1px;
		right: -26px;
		transform: rotate(-45deg);
	}

	&:after {
		content: '';
		width: 9px;
		height: 1px;
		right: -20px;
		transform: rotate(45deg);
	}

	@media(any-hover: hover) {
		&:hover {
			transition: all 0.3s ease 0s;

			&:before {
				content: '';
				transform: rotate(45deg);
			}

			&:after {
				content: '';
				transform: rotate(-45deg);
			}

		}
	}
}

.drop-menu {
	display: none;
	position: absolute;
	top: 24px;
	padding: 10px 0px 0px 0px;
	z-index: 12;

	@media(any-hover: hover) {
		&:hover {
			display: block;
		}
	}

	&.active {
		display: block;
		position: static;
	}

	li {
		background-color: #F9F9F9;

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 121%;
			color: #000000;
		}

		&:first-child {
			padding: 10px 15px 10px 15px;
		}

		padding: 0px 15px 10px 15px;
	}
}





.other-header {

	// .other-header__phone

	&__phone {
		display: flex;
		margin: 0px 40px 0px 0px;
	}

	// .other-header__ico

	&__ico {
		margin: 0px 5px 0px 0px;
	}

	// .other-header__phone-txt

	&__phone-txt {
		font-weight: 600;
		font-size: 14px;
		line-height: 136%;
		color: #FFFFFF;

		@media (max-width: 700px) {
			font-size: 0;
		}
	}

	// .other-header__images-links

	&__images-links {
		display: flex;

		@media (max-width: $md3) {
			display: none;
		}
	}

	// .other-header__image-link

	&__image-link {
		margin: 0px 15px 0px 0px;
	}
}

//=========================================ВТОРОЙ-ЭТАЖ-ШАПКИ======================================================================================================
.header-actions {
	background-color: #8436E8;
	width: 100%;
	position: relative;
	z-index: 5;
}

.actions-header {

	// .actions-header__body

	&__body {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		justify-content: space-between;
		padding: 27px 0px;

		@media (max-width: 320px) {
			gap: 20px;
		}
	}

	&__burger {
		display: none;

		@media (max-width: $md3) {
			display: block;
			position: relative;
			height: 20px;
			width: 20px;

			&.active {
				&:before {
					content: '';
					transform: rotate(45deg);
					top: 10px;
					transition: all 0.3s ease 0s;
				}

				&:after {
					content: '';
					transform: rotate(-45deg);
					top: 10px;
					transition: all 0.3s ease 0s;
				}

				span {
					display: none;
				}
			}

			&:before {
				content: '';
				width: 20px;
				height: 2px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}

			span {
				width: 10px;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #fff;
			}

			&:after {
				content: '';
				width: 20px;
				height: 2px;
				position: absolute;
				top: 50%;
				transform: translate(0%, -50%);
				left: 0;
				background-color: #fff;
				transition: all 0.3s ease 0s;
			}
		}
	}

	// .actions-header__logo

	&__logo {
		img {
			max-width: 100%;
		}

		@media (max-width: 700px) {
			height: 40px;
			overflow: hidden;
		}

		@media (max-width: 320px) {
			height: 28px;
			overflow: hidden;
		}
	}

	// .actions-header__catalog

	&__catalog {
		display: none;



		@media (max-width: $md3) {
			display: flex;
			align-items: center;
			display: block;
			padding: 10px 20px;
			background-color: #FFCA10;
			box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px #FFF500;
			border-radius: 30px;
			display: grid;
			gap: 10px;
			grid-auto-flow: column;

			span {
				font-weight: 600;
				font-size: 14px;
				line-height: 157%;
				color: #000000;
			}
		}

		@media (max-width: 700px) {
			justify-content: center;
			margin: 0px 0px 20px 0px;
			width: 100%;


		}

	}

	.catalog {

		// .catalog__image

		&__image {
			//margin: 0px 10px 0px 0px;

			&.active {
				@media (max-width: 700px) {


					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 1px;
						background-color: #000;
						transform: rotate(-45deg);
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 1px;
						transform: rotate(45deg);
						background-color: #000;
					}
				}

				@media (min-width: 700px) {
					position: relative;
					width: 20px;
					height: 20px;
					top: 9px;
					left: 0;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 1px;
						background-color: #000;
						transform: rotate(-45deg);
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 1px;
						transform: rotate(45deg);
						background-color: #000;
					}
				}
			}
		}






	}

	.header-phone-actions {
		display: none;
		margin: 0px 0px 0px 0px;

		@media (max-width: $md3) {
			display: flex;
		}
	}

	// .actions-header__plus

	&__plus {
		display: flex;
		align-items: center;

		@media (max-width: $md1) {
			display: none;
		}

	}

	// .actions-header__ico

	&__ico {
		margin: 0px 10px 0px 0px;
	}

	// .actions-header__txt

	&__txt {
		font-weight: 500;
		font-size: 14px;
		line-height: 157%;
		color: #FFFFFF;
		margin: 0px 40px 0px 0px;
	}

	// .actions-header__btn-block

	&__btn-block {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 10px;
	}
}

.btn-block {

	// .btn-block__ico

	&__ico {}

	// .btn-block__count

	&__count {
		font-weight: 600;
		font-size: 14px;
		line-height: 157%;
		color: #000000;
		background: #FFCA10;
		border-radius: 20px;
		padding: 6px 15px;

		@media (max-width: $md3) {
			display: none;
		}
	}

	span {
		@media (max-width: $md3) {
			display: none;
		}
	}
}

//=========================================МЕНЮ=БУРГЕР==========================================
.header-nav-menu {
	background-color: #290C4F;
	width: 100%;

	@media (max-width: $md3) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 50%;
		background-color: #fff;
		height: 100%;
		padding: 100px 0px 0px 0px;
		overflow: auto;
		transition: all 0.8s ease 0s;


		&.active {
			left: 0;
			transition: all 0.8s ease 0s;

		}
	}

	@media (max-width: 700px) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		background-color: #fff;
		height: 100%;
		padding: 100px 0px 0px 0px;
		overflow: auto;
		transition: all 0.8s ease 0s;


		&.active {
			left: 0;
			transition: all 0.8s ease 0s;


		}
	}
}