@import "ui.scss";

//переменные
@import "variablestyle.scss";
//шаблоны
@import "templatestyle.scss";
//миксины
@import "mixinstyle.scss";

// Файл обнуляющих стилей
@import "nullstyle.scss";

//========================================H=E=A=D=E=R================================================================================================================
@import "_header.scss";

//=================================================N=A=V=I=G=A=T=I=O=N======================================================================================================
.navigation {
	@include adaptiv-value("margin-top", 200, 180, 1);

	@media (max-width: $md3) {
		margin: 100px 0px 0px 0px;
	}

	// .navigation__container

	&__container {}

	// .navigation__body

	&__body {}

	// .navigation__items

	&__items {
		@media (min-width: 1152px) {
			display: grid;
			grid-auto-flow: column;
		}

		display: grid;


		@media (max-width: $md3) {
			position: fixed;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: #fff;
			width: 50%;
			height: 100%;
			padding: 130px 0px 0px 0px;
			z-index: 3;

			&.active {
				left: 0;
				z-index: 1;
			}

			@media (max-width: 700px) {
				width: 100%;
			}
		}

		position: relative;
	}

	// .navigation__item

	&__item {
		cursor: pointer;
		position: relative;

		@media (max-width: $md3) {
			border-bottom: 1px solid #F1F1F1;
			padding: 0px 30px;
		}

		@media (max-width: 1152px) {
			margin: 0px 0px 24px 0px;
		}

		a {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 123%;
			color: #1A1A1A;

			&:hover {
				color: #E026EE;
			}
		}

		@media (min-width: $md3) {
			padding: 15px 37px 15px 20px;
			background-color: #F9F9F9;
			border-radius: 25px;
		}

		@media (min-width: 1152px) {
			justify-self: start;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 24px;
			background-color: #000;

			transition: all 0.3s ease 0s;





			@media (max-width: $md3) {
				top: 30px;
			}

			@media (max-width: $md3) {
				top: 8px;
			}
		}

		&:before {
			content: '';
			width: 9px;
			height: 1px;
			right: 15px;
			transform: rotate(-45deg);
		}

		&:after {
			content: '';
			width: 9px;
			height: 1px;
			right: 21px;
			transform: rotate(45deg);
		}

		@media(any-hover: hover) {
			&:hover {
				transition: all 0.3s ease 0s;

				&:before {
					content: '';
					transform: rotate(45deg);
				}

				&:after {
					content: '';
					transform: rotate(-45deg);
				}

			}
		}
	}



	// .navigation__button

	&__button {
		display: inline-block;
		width: 100%;
		text-align: center;

		@media (max-width: $md3) {
			text-align: left;
			color: #E026EE;
			margin: 20px 30px;
			width: auto;
		}
	}
}

.drop-menu-link-two {
	position: relative;

	&.active {

		a {
			color: #E026EE;
		}


		&:before {
			content: '';
			transform: rotate(45deg);
		}

		&:after {
			content: '';
			transform: rotate(-45deg);
		}
	}

	@media(any-hover: hover) {
		&:hover .drop-menu-two {
			display: block;

			li {
				padding: 0px 15px 15px 15px;
			}

			//padding: 10px 0px 0px 0px;

		}
	}

}

.drop-menu-two {
	display: none;
	//padding: 0px 0px 0px 0px;
	position: absolute;
	top: 46px;
	left: 0;
	width: 280px;
	padding: 10px 0px 0px 0px;
	z-index: 2;
	background-color: #fff;
	//background: rgba(255, 255, 255, 0.98);
	//opacity: 0.95;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	backdrop-filter: blur(25px);

	&.active {
		display: block;
		width: 100%;
		position: static;

		a {
			color: #000;
		}

		li {
			padding: 15px;
		}
	}

	li {

		a {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 121%;
			color: #000000;

			&:hover {
				color: #E026EE;
			}
		}
	}



}


//===================M=A=I=N================================================================================================================================================
//==============================SLIDES==============================================================================================================================================
.main {

	// .main__slides

	&__slides {
		margin: 30px 0px 0px 0px;
		position: relative;
		z-index: 1;

	}
}




.slides {

	// .slides__container

	&__container {}

	// .slides__body

	&__body {
		background-color: #fff;
	}

	// .slides__slider-one

	&__slider-one {
		position: relative;
		margin: 0px 0px 30px 0px;
		background-color: #fff;
	}

	// .slides__slider-two

	&__slider-two {
		position: relative;
		background-color: #fff;
	}
}

//OneSlider
.slides-one {

	// .slides-one__wrapper

	&__wrapper {}

	// .slides-one__slide

	&__slide {
		filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
	}

	// .slides-one__item

	&__item {}
}

.item-slides {

	// .item-slides__image

	&__image {
		position: relative;
		padding: 0px 0px 30% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//TwoSlider
.slides-two {
	&__action {
		position: absolute;
		top: -16px;
		left: 9px;
		z-index: 1;

		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 136%;
			display: flex;
			color: #000000;
			padding: 6px 15px;
			background-color: #FFCA10;
			border-radius: 20px;
		}
	}

	// .slides-two__wrapper

	&__wrapper {}

	// .slides-two__slide

	&__slide {
		position: relative;


		@media(any-hover: hover) {
			&:hover .item-slides-two__text {
				transition: all 0.8s ease 0s;
				color: #E026EE;
			}
		}

		//align-items: start;
	}

	// .slides-two__item

	&__item {
		filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
		background-color: #fff;
	}
}

.item-slides-two {

	// .item-slides-two__body



	// .item-slides-two__image

	&__image {
		position: relative;
		padding: 0px 0px 50% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		//text-align: center;

	}

	// .item-slides-two__text

	&__text {
		align-self: start;
		font-weight: 600;
		font-size: 14px;
		line-height: 136%;
		color: #1A1A1A;
		padding: 15px;
		transition: all 0.8s ease 0s;
	}
}

//Стрелки пагинация


//Для первого
.slides__slider-one .swiper-button-previouss {
	position: absolute;

	@media(min-width: 1660px) {
		margin-left: 20px;
	}

	cursor: pointer;
	color: #BCBCBC;
	z-index: 4;
	left: -20px;
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 50%;

	@media (max-width: $md3) {
		display: none;
	}
}

.slides__slider-one .swiper-button-nextious {
	@media(min-width: 1660px) {
		margin-right: 20px;
	}

	cursor: pointer;
	position: absolute;
	top: 50%;
	color: #BCBCBC;
	z-index: 4;
	right: -20px;
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;

	@media (max-width: $md3) {
		display: none;
	}

}

.slides__slider-one .swiper-button-next {
	&:after {
		font-size: 20px;

		@media (max-width: $md3) {
			display: none;
		}
	}


	color: #BCBCBC;
}

.slides__slider-one .swiper-button-prev {
	&:after {
		font-size: 20px;

		@media (max-width: $md3) {
			display: none;
		}
	}


	color: #BCBCBC;
}

.slides__slider-one .swiper-pagination-bullet {
	background-color: #fff;
	width: 20px;
	height: 20px;

	@media (max-width: $md3) {
		display: none;
	}
}

.slides__slider-one .swiper-pagination-bullets {


	margin-bottom: 40px;

	@media (max-width: $md3) {
		display: none;
	}
}

//Для второго



.slides__slider-two .swiper-button-next {
	&:after {
		font-size: 20px;
		color: #E026EE;
		position: relative;
		right: -40px;
		//position: absolute;
		//bottom: -158px;
		/*
		@media (max-width: $md1) {
			@include adaptiv-value("bottom", -278, -158, 1);

		}
*/

	}


}

.slides__slider-two .swiper-button-prev:after {
	font-size: 20px;
	color: #E026EE;
	position: relative;
	left: -40px;
	//position: absolute;
	//bottom: -158px;
	/*

	@media (max-width: $md1) {
		@include adaptiv-value("bottom", -278, -158, 1);
	}

	@media (max-width: $md3) {
		@include adaptiv-value("bottom", -158, -208, 2);
	}
	*/
}

.slides__slider-two .swiper-pagination-bullets {
	margin-bottom: -14px;
}

.slides__slider-two .swiper-pagination-bullet {
	background-color: #D7D7D7;

}

/*
.slides__slider-one .swiper-pagination-bullet {
	background-color: #fff;
	width: 20px;
	height: 20px;

	@media (max-width: $md3) {
		display: none;
	}
}

.slides__slider-one .swiper-pagination-bullets {
	margin-bottom: 14%;

	@media (max-width: 1440px) {
		margin-bottom: 20%;
	}

	@media (max-width: $md1) {
		margin-bottom: 26%;
	}

	@media (max-width: $md3) {
		display: none;
	}
}
*/
.swiper-block {
	display: flex;
	align-items: center;
	position: relative;
	width: 120px;
	margin: 0px auto;
}

.swiper-block-one {
	display: flex;
	align-items: center;
	position: relative;
	width: 120px;
	margin: 40px auto;
}

//====ADDS========================================================================================================================================================================
.main {

	// .main__adds

	&__adds {
		@include adaptiv-value("margin-top", 80, 60, 1);
		background: radial-gradient(178.56% 983.3% at 81.43% -114.98%, #EC3CBB 0.04%, #8D30D6 31.2%, #4B259C 95.43%);
	}
}

.adds {

	// .adds__container

	&__container {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0px;

			right: 30%;
			transform: translate(-30%, 0%);
			width: 210px;
			height: 90px;

			@media (max-width: $md1) {
				width: 140px;
				height: 60px;
			}

			background: url('../img/pageOne/main/adds/decore.png')0 0 / cover no-repeat;
		}
	}

	// .adds__body

	&__body {
		padding: 50px 0px;
	}

	// .adds__title

	&__title {

		span {
			color: #fff;
		}

		position: relative;
		z-index: 1;
		margin: 0px 0px 50px 0px;
	}

	// .adds__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 15px;
	}

	// .adds__column

	&__column {
		background: rgba(39, 10, 56, 0.4);
		background-blend-mode: multiply;
		backdrop-filter: blur(20px);
		border-radius: 30px;
		display: grid;
		justify-content: center;
		align-items: center;
	}

	// .adds__action

	&__action {
		position: absolute;
		top: -14px;
		left: 10px;

		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 136%;
			color: #000000;
			padding: 6px 15px;
			background-color: #FFCA10;
			border-radius: 20px;

		}
	}

	// .adds__item

	&__item {
		text-align: center;
		padding: 15px 30px;
	}
}

.item-adds {

	// .item-adds__image

	&__image {
		margin: 0px 0px 10px 0px;
		position: relative;
		padding: 0px 0px 100% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .item-adds__text

	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 136%;
		color: #FFFFFF;

	}
}

//=======MAIN-SLIMES=====================================================================================================================================================================



.main {

	// .main__main-slimes

	&__main-slimes {
		margin: 60px 0px 0px 0px;
	}
}

.main-slimes {

	// .main-slimes__container

	&__container {}

	// .main-slimes__body

	&__body {
		padding: 30px 0px;
	}

	// .main-slimes__block

	&__block {
		display: flex;
		align-items: center;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md3) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .main-slimes__block-text

	&__block-text {
		flex: 0 1 60%;

		@media (max-width: $md3) {
			flex: 0 1 100%;
		}
	}

	// .main-slimes__title

	&__title {
		margin: 0px 0px 20px 0px;
	}

	// .main-slimes__sub-title

	&__sub-title {
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #595959;

		@media (max-width: $md3) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .main-slimes__link

	&__link {
		flex: 0 1 40%;
		text-align: right;

		@media (max-width: $md3) {
			text-align: left;
			flex: 0 1 100%;

		}
	}

	// .main-slimes__columns

	&__columns {}

	// .main-slimes__wrapper

	&__wrapper {
		position: relative;
	}

	// .main-slimes__column

	&__column {
		position: relative;
		z-index: 2;

		@media (min-width: $md1) {
			&:hover {
				background: #FFFFFF;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
				backdrop-filter: blur(25px);
				border-radius: 5px;

			}

			&:hover .item-main-slimes__text {
				opacity: 1;
				visibility: visible;
				transition: all 0.8s ease 0s;
				display: block;
			}

			&:hover .item-main-slimes__colvo {
				opacity: 1;
				visibility: visible;
				transition: all 0.8s ease 0s;
				display: block;
			}


			&:hover .item-main-slimes__button {
				opacity: 1;
				visibility: visible;
				transition: all 0.8s ease 0s;

			}




			&:hover .item-main-slimes__pluse-minus {
				display: inline-flex;
				visibility: visible;
				opacity: 1;
			}

			&:hover .item-main-slimes__price {
				margin: 30px 0px 20px 0px;
			}
		}



		.item-main-slimes__colvo.active {
			opacity: 1;
			visibility: visible;
			transition: all 0.8s ease 0s;
			display: block;
		}

		.item-main-slimes__button.active {
			opacity: 1;
			visibility: visible;
			transition: all 0.8s ease 0s;
			margin: 0px 0px 20px 0px;
		}

		.item-main-slimes__title.active {

			height: auto;
			//	margin: 0px 0px 60px 0px;
			overflow: visible;
			transition: all 0.8s ease 0s;
		}

		.item-main-slimes__text.active {
			opacity: 1;
			visibility: visible;
			transition: all 0.8s ease 0s;
			display: block;
		}

		&:hover .item-main-slimes__title {
			height: auto;
			overflow: visible;
			transition: all 0.8s ease 0s;
		}
	}

	// .main-slimes__action

	&__action {
		position: absolute;
		top: 2px;
		left: 25px;
		z-index: 1;

		span {
			font-weight: 600;
			font-size: 14px;
			line-height: 136%;
			color: #000000;
			padding: 6px 15px 6px 37px;
			background-color: #FFCA10;
			border-radius: 20px;
			position: relative;

			&:before {
				content: '';
				background: url('../img/pageOne/main/main-slimes/ico.svg')0 0 / cover no-repeat;
				width: 18px;
				position: absolute;
				top: 50%;
				transform: translate(0%, -50%);
				left: 15px;
				height: 20px;
			}
		}
	}

	// .main-slimes__item

	&__item {
		display: grid;
		justify-content: start;
		padding: 15px;
		grid-auto-flow: row;

	}
}

.item-main-slimes {

	// .item-main-slimes__image

	&__image {
		position: relative;
		padding: 0px 0px 133% 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .item-main-slimes__title

	&__title {
		margin: 0px 0px 0px 0px;
		font-weight: 500;
		font-size: 15px;
		line-height: 147%;
		color: #1A1A1A;


		height: 20px;
		transition: all 0.8s ease 0s;
		overflow: hidden;

	}

	// .item-main-slimes__price

	&__price {

		display: flex;
		align-items: center;
		position: relative;
		font-weight: 700;
		font-size: 17px;
		line-height: 123%;

		@media (max-width:479px) {
			font-size: 14px;
			flex-direction: column;
			justify-content: center;
		}


		color: #1A1A1A;
		margin: 0px 10px 30px 0px;
		text-decoration-line: none;

		@media (max-width: $md1) {
			margin: 0px 10px 10px 0px;
		}


		span {
			padding: 0px 10px 0px 0px;
			margin: 0px 0px 0px 10px;
			position: relative;
			font-weight: 400;
			font-size: 14px;
			line-height: 157%;
			text-decoration-line: line-through;
			color: #595959;



			@media (max-width:479px) {
				margin: 10px 0px 0px 0px;
				padding: 0px 20px 0px 0px;

			}

			&:after {
				content: '';
				background: url('../img/pageOne/main/main-slimes/icoInfo.svg')0 0 / cover no-repeat;
				width: 22px;
				height: 22px;
				position: absolute;
				top: 50%;
				right: -20px;
				transform: translate(0%, -50%);
			}
		}



	}

	// .item-main-slimes__button

	&__button {

		@media (max-width: $md3) {
			span {

				width: 100%;
				text-align: center;
			}
		}


		align-items: center;
		display: flex;

		span {
			padding: 12px 17px;
			background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
			box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px rgba(236, 139, 255, 0.55);
			border-radius: 30px;
			margin: 0px 10px 0px 0px;
			font-family: 'Montserrat';
			font-weight: 600;
			font-size: 13px;
			line-height: 169%;
			color: #FFFFFF;

			@media (max-width: 425px) {

				padding: 6px 8px;

			}
		}

		@media (max-width: $md3) {
			p {
				display: none;
			}
		}

		transition: all 0.8s ease 0s;

		@media (min-width: $md1) {
			opacity: 0;
			visibility: hidden;
		}

		font-weight: 500;
		font-size: 12px;
		line-height: 125%;
		color: #595959;

	}

	// .item-main-slimes__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 121%;
		color: #838383;
		height: 22px;
		opacity: 0;
		visibility: hidden;
		overflow: ellipsis;
		margin: 0px 0px 40px 0px;
		transition: all 0.8s ease 0s;
		display: none;


	}

	// .item-main-slimes__colvo

	&__colvo {
		background-color: #F9F9F9;
		justify-self: start;
		display: none;
		padding: 5px 10px;
		border-radius: 100px;
		margin: 0px 0px 30px 0px;
		font-weight: 500;
		font-size: 12px;
		line-height: 125%;
		color: #595959;
		opacity: 0;
		visibility: hidden;
		transition: all 0.8s ease 0s;
	}
}

.item-main-slimes__pluse-minus {
	display: flex;
	align-items: center;
	margin: 0px 0px 15px 0px;
	visibility: hidden;
	opacity: 0;
	display: none;


	@media (max-width: $md3) {
		display: none;
	}

	ul {
		margin: 0px 10px 0px 0px;
		padding: 7px;
		background-color: #F9F9F9;
		border: 1px solid #F1F1F1;
		border-radius: 4px;

		span {

			margin: 0px 20px;
		}
	}
}

.pluse {
	background: #C32AF9;
	box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px rgba(236, 139, 255, 0.55);
	border-radius: 30px;
	font-size: 22px;
	padding: 12px 22px;
	color: #FFFFFF;
}

.minus {
	background: #C32AF9;
	font-size: 22px;
	box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px rgba(236, 139, 255, 0.55);
	border-radius: 30px;
	padding: 12px 19px;
	color: #FFFFFF;

}

//===========BANNER=================================================================================================================================================================
.main {

	// .main__banner

	&__banner {
		//margin: 80px 0px 80px 0px;
		@include adaptiv-value("margin-top", 80, 40, 1);
		@include adaptiv-value("margin-bottom", 80, 40, 1);
	}
}

.banner {

	// .banner__image

	&__image {
		position: relative;
		padding: 0px 0px 22% 0px;


		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}

//===BANNERTWO=========================================================================================================================================================================
.main {

	// .main__banner-two

	&__banner-two {

		position: relative;
		background-color: #f9f9f9;
	}
}

.banner-two {
	&__action {
		position: absolute;
		top: 0px;
		left: 39px;


		span {
			position: relative;
			font-weight: 600;
			font-size: 14px;
			line-height: 136%;
			display: flex;
			color: #000000;
			padding: 6px 15px 6px 37px;
			background-color: #FFCA10;
			border-radius: 20px;

			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 12px;
				width: 18px;
				height: 18px;
				background: url('../img/pageOne/main/main-slimes/ico.svg')0 0 / cover no-repeat;
			}
		}
	}

	// .banner-two__image

	&__image {
		position: relative;
		padding: 0px 0px 32% 0px;
		z-index: -1;
		margin: -20px 0px 0px 0px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//==============ADVANTAGES==============================================================================================================================================================
.main {

	// .main__advantages

	&__advantages {
		@include adaptiv-value("margin-top", 80, 60, 1);
	}
}

.advantages {

	// .advantages__container

	&__container {}

	// .advantages__body

	&__body {}

	// .advantages__title

	&__title {
		@include adaptiv-value("margin-bottom", 50, 30, 1);
		//@include adaptiv-value("font-size", 32, 24, 1);

	}

	// .advantages__columns

	&__columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 30px;
		grid-auto-rows: 1fr;
	}

	// .advantages__column

	&__column {}

	// .advantages__item

	&__item {
		@media (max-width: 619px) {
			display: flex;
		}

		display: grid;
		grid-auto-flow: row;
	}
}

.item-advantages {

	// .item-advantages__image

	&__image {
		margin: 0px 0px 25px 0px;

		@media (max-width: 619px) {
			margin: 0px 15px 0px 0px;
		}

	}

	// .item-advantages__title

	&__title {
		margin: 0px 0px 10px 0px;
		font-weight: 600;
		font-size: 15px;
		line-height: 133%;
		color: #1A1A1A;

	}

	// .item-advantages__text

	&__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #1A1A1A;



		span {
			color: #E026EE;
		}


	}
}

//========ABOUT-SLIME====================================================================================================================================================================
.main {

	// .main__about-slime

	&__about-slime {

		margin: 50px 0px 0px 0px;
	}
}

.about-slime {

	// .about-slime__container

	&__container {}

	// .about-slime__body

	&__body {
		display: grid;

		@media (min-width: $md1) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: $md1) {}

		position: relative;
		align-items: center;
	}

	// .about-slime__video

	&__video {

		position: relative;
		padding: 0px 0px 42% 0px;
		z-index: 4;

		@media (max-width: $md1) {
			margin: 0px 0px -130px 0px;
		}

		&:before {
			content: '';
			background: url('../img/pageOne/main/about-slime/ico.svg')0 0 / cover no-repeat;
			width: 80px;
			height: 80px;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;

		}
	}

	// .about-slime__slider

	&__slider {
		background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
		border-radius: 5px;
		position: relative;
		z-index: 3;

		@media (min-width: $md1) {
			margin: 0px 0px 0px -220px;
		}

	}

	// .about-slime__wrapper

	&__wrapper {}

	// .about-slime__column

	&__column {}

	// .about-slime__item

	&__item {
		padding: 50px 60px 50px 50px;

		//	margin: 0px -220px 0px 0px;
		@media (max-width: $md1) {
			padding: 50px;
			margin: 140px 0px 0px 0px;
		}

		@media (max-width: $md3) {
			padding: 20px;
		}

	}
}

.item-about-slime {

	// .item-about-slime__title

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 138%;
		color: #FFFFFF;
		margin: 0px 0px 20px 200px;

		@media (max-width: $md1) {
			margin: 0px 0px 20px 0px;
		}
	}

	// .item-about-slime__text

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 157%;
		color: #FFFFFF;
		margin: 0px 0px 0px 200px;

		@media (max-width: $md1) {
			margin: 0px 0px 20px 0px;
			height: 240px;
			overflow: hidden;
			transition: all 0.8s ease 0s;

			&.active {
				height: auto;
				overflow: visible;
				transition: all 0.8s ease 0s;

			}
		}


		@media (min-width: $md1) {

			height: 100%;
			max-height: 200px;
		}

		@media (min-width: $md1) {
			&::-webkit-scrollbar {
				width: 4px;
				background-color: #EAEAEA;
				right: -6px;

			}

			&::-webkit-scrollbar-thumb {
				width: 4px;
				//	background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
				background-color: #FF48CE;
			}

			overflow-y: auto;
		}

		@media (max-width: $md3) {
			&::-webkit-scrollbar {
				width: 4px;
				background-color: #EAEAEA;
				right: -6px;

			}

			&::-webkit-scrollbar-thumb {
				width: 4px;
				//	background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
				background-color: #FF48CE;
			}

			overflow-y: auto;
		}


		p {


			&:not(:last-child) {
				margin: 0px 50px 30px 0px;
			}
		}
	}
}

.item-about-slime__more {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	background-color: transparent;
	padding: 0px 0px 2px 0px;
	border-bottom: 1px solid #fff;
}

//====REVIEWS========================================================================================================================================================================
.main {

	// .main__reviews

	&__reviews {
		@include adaptiv-value("margin-top", 80, 60, 1);
		background-color: #F9F9F9;
	}
}

.reviews {

	// .reviews__container

	&__container {}

	// .reviews__body

	&__body {
		padding: 50px 0px;
		display: grid;
	}

	// .reviews__title

	&__title {
		span {
			background: linear-gradient(90.84deg, #FD17A1 59.67%, #A11FCE 99.93%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;

		}

		margin: 0px 0px 50px 0px;
	}

	// .reviews__columns

	&__columns {
		display: grid;

		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}

		gap: 15px;
		align-items: start;
		margin: 0px 0px 50px 0px;
	}

	// .reviews__column

	&__column {
		background-color: #FFFFFF;
		box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.05);
		border-radius: 5px;

		&:hover .item-reviews__text {
			height: auto;
			overflow: visible;
			opacity: 1;
			transition: all 0.8s ease 0s;
		}

		&:hover .item-reviews__images {
			display: grid;
		}
	}

	// .reviews__item

	&__item {
		padding: 30px;
	}

	// .reviews__button

	&__button {
		justify-self: center;
	}
}

.item-reviews {

	// .item-reviews__block

	&__block {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px 0px;
	}

	// .item-reviews__ico

	&__ico {
		margin: 0px 15px 0px 0px;
	}

	// .item-reviews__block-title

	&__block-title {}

	// .item-reviews__title

	&__title {
		margin: 0px 0px 8px 0px;
		font-weight: 600;
		font-size: 15px;
		line-height: 133%;
		color: #1A1A1A;

	}

	// .item-reviews__estimate

	&__estimate {}

	// .item-reviews__text

	&__text {
		height: 60px;
		overflow: hidden;
		transition: all 0.8s ease 0s;

		&.active {
			height: auto;
			overflow: visible;
			opacity: 1;
			transition: all 0.8s ease 0s;
		}

		transition: all 0.8s ease 0s;
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #1A1A1A;
		margin: 0px 0px 20px 0px;
	}

	// .item-reviews__images

	&__images {
		display: grid;

		&.active {
			display: grid;
		}

		grid-auto-flow: column;
		justify-content: start;
		gap: 10px;
		margin: 0px 0px 20px 0px;
		display: none;
	}

	// .item-reviews__image

	&__image {}

	// .item-reviews__date

	&__date {
		font-weight: 500;
		font-size: 12px;
		line-height: 125%;
		color: #BCBCBC;

	}
}


//======GET-STARTED======================================================================================================================================================================
.main {

	// .main__get-started

	&__get-started {}
}

.get-started {

	// .get-started__container

	&__container {}

	// .get-started__body

	&__body {}

	// .get-started__title

	&__title {
		margin: 0px 0px 25px 0px;
	}

	// .get-started__sub-title

	&__sub-title {
		margin: 0px 0px 100px 0px;
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #595959;

	}

	// .get-started__columns

	&__columns {
		display: grid;

		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

		gap: 30px;

		@media (max-width: 1152px) {
			gap: 80px;
		}
	}

	// .get-started__column

	&__column {
		position: relative;

		&:before {
			content: '';
			background: url('../img/pageOne/main/get-started/01.svg')0 0 / cover no-repeat;
			position: absolute;
			top: -50px;
			left: 0;
			width: 100%;
			height: 42px;

			@media (max-width: $md3) {
				display: none;
			}
		}

		&:nth-child(1) {
			&:after {
				content: '01';
				position: absolute;
				top: -80px;
				z-index: -1;
				left: 0;
				font-weight: 800;
				font-size: 45px;
				line-height: 122%;
				color: #F3F3F3;

				@media (max-width: $md3) {
					top: -40px;
				}
			}
		}

		&:nth-child(2) {
			&:after {
				@media (max-width: $md3) {
					top: -40px;
				}

				content: '02';
				position: absolute;
				top: -80px;
				z-index: -1;
				left: 0;
				font-weight: 800;
				font-size: 45px;
				line-height: 122%;
				color: #F3F3F3;
			}
		}

		&:nth-child(3) {
			&:after {
				@media (max-width: $md3) {
					top: -40px;
				}

				content: '03';
				position: absolute;
				z-index: -1;
				top: -80px;
				left: 0;
				font-weight: 800;
				font-size: 45px;
				line-height: 122%;
				color: #F3F3F3;
			}
		}

		&:nth-child(4) {
			&:after {
				@media (max-width: $md3) {
					top: -40px;
				}

				content: '04';
				z-index: -1;
				position: absolute;
				top: -80px;
				left: 0;
				font-weight: 800;
				font-size: 45px;
				line-height: 122%;
				color: #F3F3F3;

			}
		}
	}

	// .get-started__item

	&__item {
		display: grid;
		grid-auto-flow: row;
	}
}

.item-get-started {

	// .item-get-started__title

	&__title {
		margin: 0px 0px 15px 0px;
		font-weight: 600;
		font-size: 15px;
		line-height: 133%;
		color: #1A1A1A;

	}

	// .item-get-started__text

	&__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #1A1A1A;

	}
}

//========CONTACTS====================================================================================================================================================================
.main {

	// .main__contacts

	&__contacts {
		position: relative;
		@include adaptiv-value("margin-top", 80, 60, 1);


	}
}

.contacts {
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}

	// .contacts__container

	&__container {}

	// .contacts__body

	&__body {
		position: relative;
		z-index: 2;
		padding: 90px 0px;
	}

	// .contacts__title

	&__title {
		span {
			color: #fff;
		}

		margin: 0px 0px 20px 0px;
	}

	// .contacts__sub-title

	&__sub-title {
		margin: 0px 0px 50px 0px;
		font-weight: 600;
		@include adaptiv-value("font-size", 15, 13, 1);
		line-height: 147%;
		color: #FFFFFF;


	}

	// .contacts__form

	&__form {}
}



.form-contacts {

	// .form-contacts__body

	&__body {
		display: grid;

		@media (min-width: $md3) {
			grid-auto-flow: column;
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: $md3) {
			display: grid;
			grid-auto-flow: row;
			grid-template-columns: 1fr;

		}

		&::-webkit-input-placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 121%;
			color: #595959;
		}
	}

	// .form-contacts__inputs

	&__inputs {
		display: grid;
		grid-auto-flow: row;
		gap: 10px;

		@media (max-width: $md3) {
			margin: 0px 0px 10px 0px;
		}

		@media (min-width: $md3) {
			margin: 0px 10px 0px 0px;
		}

	}

	// .form-contacts__input

	&__input {

		padding: 12px 20px;
	}

	// .form-contacts__checkbox
	&__block {
		input {
			display: none;
		}

		@media (max-width: $md3) {
			margin: 10px 0px 20px 0px;
		}

		margin: 10px 0px 0px 0px;
		font-weight: 500;
		font-size: 12px;
		line-height: 125%;
		color: #FFFFFF;
		transition: all 0.8s ease 0s;
		cursor: pointer;
		position: relative;
		padding: 0px 0px 0px 36px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			left: 0;
			width: 26px;
			height: 26px;
			background-color: #F9F9F9;
			border: 1px solid #F1F1F1;
			border-radius: 3px;
		}

		&.active {
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 7px;
				transform: translate(0%, -50%);
				width: 12px;
				height: 12px;
				background: url('../img/pageOne/main/contacts/02.svg')0 0 / cover no-repeat;

			}
		}
	}


	// .form-contacts__submit

	&__submit {


		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;

	}

	// .form-contacts__other-txt

	&__other-txt {
		margin: 0px 0px 10px 0px;
		padding: 12px 20px;
	}

	// .form-contacts__button

	&__button {
		font-weight: 600;
		font-size: 14px;
		line-height: 157%;
		color: #000000;
		padding: 10px 18px;
		background-color: #FFCA10;
		box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px #FFF500;
		border-radius: 30px;
		align-self: end;
		justify-self: end;

		@media (max-width: $md3) {
			justify-self: start;
		}
	}
}

//======POPULAR-QUESTIONS======================================================================================================================================================================
.main {

	// .main__popular-questions

	&__popular-questions {
		background-color: #F9F9F9;
		@include adaptiv-value("padding-top", 80, 60, 1);
	}
}

.popular-questions {

	// .popular-questions__container

	&__container {}

	// .popular-questions__body

	&__body {}

	// .popular-questions__title

	&__title {
		margin: 0px 0px 50px 0px;
	}

	// .popular-questions__items

	&__items {}

	// .popular-questions__item

	&__item {
		background-color: #fff;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(25px);
		border-radius: 5px;
	}
}

.item-popular-questions {

	// .item-popular-questions__title

	&__title {
		padding: 30px;
		font-weight: 600;
		font-size: 15px;
		line-height: 133%;
		position: relative;
		color: #1A1A1A;



		&._active {
			&:before {
				content: '✖';
				color: #E026EE;
				position: absolute;
				top: 50%;
				transform: translate(0%, -50%);
				right: 30px;

				@media (max-width: $md3) {
					right: 20px;
				}
			}
		}

		&:before {
			content: '✚';
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			font-size: 15px;
			right: 30px;

			@media (max-width: $md3) {
				right: 20px;
			}
		}
	}

	// .item-popular-questions__text

	&__text {
		padding: 0px 30px 30px 30px;
	}
}

//================================================================USEFUL==========================================================================================
.main {

	// .main__useful

	&__useful {
		background-color: #F9F9F9;
		@include adaptiv-value("margin-top", 80, 60, 1);
	}
}

.useful {

	// .useful__container

	&__container {}

	// .useful__body

	&__body {
		display: grid;
		align-items: center;
		padding: 30px 0px;

		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .useful__block-text

	&__block-text {
		display: grid;
		gap: 20px;
		grid-auto-flow: row;

		@media (max-width: $md3) {
			grid-auto-flow: column;
			margin: 0px 0px 30px 0px;

		}

		@media (max-width: 425px) {
			grid-auto-flow: row;
		}
	}

	// .useful__title

	&__title {
		font-weight: 600;
		font-size: 15px;
		line-height: 133%;
		color: #1A1A1A;
		margin: 0px 0px 20px 0px;

	}

	// .useful__sub-title

	&__sub-title {
		font-weight: 400;
		font-size: 15px;
		line-height: 127%;
		color: #595959;


	}

	// .useful__icons

	&__icons {
		display: grid;
		gap: 20px;
		grid-auto-flow: column;

		@media (min-width: $md3) {
			justify-content: start;
		}

		@media (max-width: 425px) {
			justify-content: start;
		}

	}

	// .useful__icon

	&__icon {}

	// .useful__images

	&__images {
		display: grid;
		grid-auto-flow: column;
		gap: 20px;

		@media (max-width: $md3) {
			justify-content: center;
		}

		@media (min-width: $md3) {
			justify-content: end;
		}
	}

	// .useful__image

	&__image {

		img {
			max-width: 100%;
		}
	}
}




//========================================F=O=O=T=E=R===========================================================================================================================
@import "_footer.scss";