@import "variablestyle.scss";
//АДАПТИВНОЕ СВОЙСТВО


//==================================================================================================================================================
//==================================================================================================================================================
//==================================================================================================================================================
//=========================================================ОСНОВНОЙ ШРИФТ============================================================================
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

//=====================================================ОСНОВНЫЕ БЛОКИ===========================================================================

body {
	font-family: 'Montserrat';
	transition: all 0.8s ease 0s;
}

body.scroll-lock {
	overflow: hidden;
}

body.scroll-lock {}

//=====================================ВСПОМОГАЮЩИЕ=КЛАССЫ============================================================================================

//полноэкранная картинка

.ibg {
	background: 0 0 / cover no-repeat;

	img {
		display: none;
	}
}



.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1590px;
	margin: 0px auto;
	padding: 0px 15px;
}

.main {
	flex: 1 1 auto;
}

//бургер
.icon-menu {
	display: none;
}

@media (max-width: 992px) {
	.icon-menu {
		display: block;
		position: relative;

		width: 30px;
		height: 18px;

		&:before,
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #000;
			position: absolute;
		}

		&:before {
			top: 18px;

			transition: all 0.3s ease 0s;
		}

		&:after {
			bottom: 7px;
			transition: all 0.3s ease 0s;

		}

		&.active {
			&:before {
				transform: rotate(45deg);
				top: 10px;
				transition: all 0.3s ease 0s;
			}
		}

		&.active {
			&:after {
				transform: rotate(-45deg);
				transition: all 0.3s ease 0s;
			}
		}

		&.active {
			span {
				display: none;
			}
		}

		span {
			width: 100%;
			height: 2px;
			position: absolute;
			background-color: #000;
		}
	}
}

//Стрелки
.icon-arrow {
	position: relative;

	&:before,
	&:after {
		content: '';
		background-color: #fff;
		width: 20px;
		height: 2px;
		position: absolute;
	}

	&:before {
		left: 20px;
		transform: rotate(50deg);
	}

	&:after {
		left: 8px;
		transform: rotate(-50deg);
	}
}

//============FULLSCREEN=============================================================================================================================================================


//==========================================================КЛАССЫ=ДЛЯ=ТЕКСТОВ=================================================================================================
.main-title {
	font-weight: 700;
	line-height: 138%;
	color: #1A1A1A;
	@include adaptiv-value("font-size", 32, 26, 1);
}

.btn-purple {
	padding: 12px 17px;
	background: linear-gradient(96.96deg, #FD17A1 3.55%, #A11FCE 133.18%);
	box-shadow: 0px 4px 10px rgba(47, 47, 47, 0.2), inset 0px -2px 2px rgba(65, 0, 78, 0.25), inset 0px 2px 2px rgba(236, 139, 255, 0.55);
	border-radius: 30px;


	span {
		font-family: 'Montserrat';
		font-weight: 600;
		font-size: 13px;
		line-height: 169%;
		color: #FFFFFF;

	}
}

.bigtxt {
	font-size: 16px;
	line-height: 138%;
}

.link-purple {
	font-weight: 500;
	font-size: 15px;
	line-height: 147%;
	color: #E026EE;
	text-decoration: underline;
}

.gray-slimes {
	background-color: #F9F9F9;

	&-container {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0px;

			right: 30%;
			transform: translate(-30%, 0%);
			width: 210px;
			height: 90px;

			@media (max-width: $md1) {
				width: 140px;
				height: 60px;
			}

			background: url('../img/pageOne/main/adds/decore.png')0 0 / cover no-repeat;
		}

	}
}

.item-slides-two__other {
	margin: 6px 0px 0px 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 121%;
	color: #595959;
	padding: 0px 15px 15px 15px;
}

.slider-copy {
	@include adaptiv-value("margin-top", 80, 60, 1);
}

.slider-two__title {
	margin: 0px 0px 50px 0px;
}

.white-link {
	font-weight: 600;
	font-size: 14px;
	line-height: 136%;
	color: #FFFFFF;
}

.black-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 157%;
	color: #A891FF;

}


//===============ОДИНАКОВЫЕ-БЛОКИ================================================================================================================================================